@tailwind base;
@tailwind components;
@tailwind utilities;

.admin-hr-login {
    @apply flex justify-center h-screen;
    background-color: #f7f7f7;
}

.admin-hr-login form {
    @apply max-w-md mx-auto p-4 pt-6 pb-4 mb-4 bg-white rounded;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.admin-hr-login label {
    @apply block mb-2;
}

.admin-hr-login input {
    @apply w-full p-2 pl-10 text-sm text-gray-700;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    padding: 0.5rem;
}

.admin-hr-login button[type="submit"] {
    @apply 
    bg-orange-500 
    hover:bg-orange-700 
    text-white 
    font-bold py-2 px-4 rounded;
    cursor: pointer;
}

<<<<<<< HEAD
body {
    font-family: 'Roboto Slab', serif;
    @apply bg-gradient-to-b from-orange-300 via-yellow-50 to-white dark:from-orange-300 dark:via-yellow-50 dark:to-gray-600;
=======
.body {
    font-family: 'Roboto Slab', serif;
>>>>>>> 21da00b81c47fcf9d373c4a1150aa33edc9152f0
}

.navbar {
    @apply 
    bg-[#404040]
    dark:bg-[#202020] 
    text-white 
    p-4 flex justify-between items-center;
}

.sidebar {
    @apply fixed top-0 left-0 z-40 w-64 h-screen 
    bg-white
    dark:bg-black 
    text-black 
    dark:text-white 
    transform -translate-x-full transition-transform sm:translate-x-0;
}

.maincontent {
<<<<<<< HEAD
    @apply p-8 sm:ml-64 min-h-screen;
=======
    @apply bg-gradient-to-b from-orange-300 via-yellow-50 to-white dark:from-orange-300 dark:via-yellow-50 dark:to-gray-600 p-8 sm:ml-64 min-h-screen;
>>>>>>> 21da00b81c47fcf9d373c4a1150aa33edc9152f0
}

.btn-logout {
    @apply flex items-center p-2 bg-red-500 text-white rounded hover:bg-red-600;
}

.hover-d {
    @apply flex items-center p-2 rounded hover:bg-gray-300 dark:hover:bg-gray-500;
}

.bg-card {
    @apply bg-white dark:bg-[#202020] rounded-lg shadow-lg flex flex-col items-center w-full sm:w-1/4;
}
<<<<<<< HEAD
.hidden {
    display: none;
}
=======
>>>>>>> 21da00b81c47fcf9d373c4a1150aa33edc9152f0
